.navbar{
  display: flex;
  gap: 4px;
  padding: 8px;
  height: 60px;
}
.logo{
  font-size: 28px;
  font-weight: 800;
}
.login{
  margin-left: auto;
}
.parent{
  margin: auto;
  max-width: 1200px;
  border: 2px solid white;
  height: calc(100vh - 60px);
  position: relative;
}
.inbox{
  height: 46px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  gap: 4px;
}
.message{
  all: unset;
  flex: 1;
  background-color: hsl(0, 0%, 15%);
  color: white;
  height: 20px;
  padding: 12px;
}

.messageArea{
  height: calc(100% - 50px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.userM{
  margin: 8px;
  padding: 4px 12px;
  width: fit-content;
  border-radius: 16px;
  background-color: hsl(0, 0%, 30%);
  align-self: flex-end;
  max-width: 40%;
}
.compM{
  margin: 8px;
  padding: 12px 16px;
  width: fit-content;
  border-radius: 16px;
  background-color: hsl(0, 0%, 28%);
  align-self: flex-start;
  max-width: 60%;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 12px 16px;
  width: fit-content;
  font-family: monospace;
  font-size: 15px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 0.9s steps(4) infinite;
}
.loader:before {
  content:"thinking..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}


hr{
  margin: 8px 0;
}